player-connection-mode=Listen
player-connection-guid=2746223236
player-connection-debug=0
player-connection-project-name=Wasteland Mech
player-connection-ip=192.168.56.1
player-connection-ip=169.254.186.142
player-connection-ip=10.5.0.2
player-connection-ip=10.0.0.232
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
